body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    font-size: 28px;
    margin-bottom: 4%;
}

/* Table Styling */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead th {
    background-color: #1c7eed;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    font-size: 14px;
    color: #555;
}

td span {
    display: block;
}

/* Message when there are no bookings */
p {
    text-align: center;
    font-size: 16px;
    color: #666;
}

/* Buttons */
.create-btn, .action-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #1c7eed;
    border: 2px solid #1c7eed;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
}

.create-btn:hover, .action-btn:hover {
    background-color: #0972e8;
    border: 2px solid #0972e8;
    text-decoration: none;
}

.create-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.action-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 10px 5px
}

.action-btn.cancel-btn {
    background-color: #494a4d;
}

.action-btn.cancel-btn:hover {
    background-color: #3a3b3c;
    border: 2px solid #3a3b3c;
}

.action-btn.update-btn {
    background-color: #1c7eed;
}

.action-btn.update-btn:hover {
    background-color: #0972e8;
    border: 2px solid #0972e8;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
        font-size: 12px;
    }

    .create-btn {
        width: 90%;
    }
}
