.homepage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.left-section {
    width: 50%;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.right-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #bdbdbd;
}
